%hr
.row
  .span2
    %strong Comments
    %p
    - comments.each do |item|
      .span4
      %p= item.user.full_name
      wrights:
      %p
        %strong= item.title
      .span4
      %p= item.body
      %hr